.Rproj.user
.Rhistory
.RData
.Ruserdata

/.quarto/

*_cache/*
*_files/*

*.html

site_libs/

renv

chinook.db

primer.Rproj

# No matter what happens above, everything in docs/ must be checked in

!docs/*
